[submodule "externals/libuv"]
	path = externals/libuv
	url = https://github.com/libuv/libuv.git
[submodule "externals/http-parser"]
	path = externals/http-parser
	url = https://github.com/nodejs/http-parser.git
